# Ignore everything
*

# But not these files...
!.gitignore
!docker-compose.yaml
!Dockerfile
!README.md
!LICENSE


# ...even if they are in subdirectories
!*/

# if the files to be tracked are in subdirectories
!.vscode/*
!.github/*/*
!src/*